.cart-container{
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.cart-item{
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-info{
    flex-grow: 1;
}

.cart-total {
    text-align: center;
    padding-top: 15px;
}

.checkout-btn {
    background-color: #6a3c67;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

.btnCancel{
    background-color: rgb(184, 37, 37);
    border: none;
    border-radius: 10px;
}