.btn {
    text-align: center;
    background-color: rgb(136, 98, 124);
    color: white; 
    width: 10rem; 
}

.btn:hover {
    background-color: rgb(96, 76, 115);
    color: white;
}


.modificarCard{
    background-color: #f4c6c6b5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    justify-content: center;
    align-items: center; 
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}