.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #6a3c67;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999;
    width: 200px;
}

.total {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}