.nav-bar {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: #6a3c67;
    align-items: center;
}

.nav-bar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 0;
}

.logo {
    width: 45px;
    height: 45px;
    margin-left: 1rem;   
    margin-top: 2px;
    
}

li {
    color: white;    
}

li:hover {
    color: #2c0329;;
}

.link {
    text-decoration: none;
}